<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <castle>
    <using assembly="ADV.InternetCrawler.DataBase, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <using assembly="ADV.InternetCrawler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <using assembly="ADV.InternetCrawler.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <using assembly="ADV.InternetCrawler.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />

    <components>
       <component id="DAL" type="ADV.InternetCrawler.DataBase.DAL, ADV.InternetCrawler.DataBase" service="ADV.InternetCrawler.Interface.IDataBase, ADV.InternetCrawler" lifestyle="transient">
        <parameters>
          <connectionString>Server=192.168.56.101;Database=InternetCrawler_UT;User Id=Scav;Password=zxcasd;Timeout=30;</connectionString>
        </parameters>
      </component>

      <component id="Parser" type="ADV.InternetCrawler.Core.Parser, ADV.InternetCrawler.Core" service="ADV.InternetCrawler.Interface.IParser, ADV.InternetCrawler" lifestyle="transient">
        <parameters>
          <userAgent>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.2 (KHTML, like Gecko) Chrome/15.0.874.121 Safari/535.2</userAgent>
          <timePause>3</timePause>
        </parameters>
      </component>
  </components>
  </castle>
</configuration>